

html {
  font-family: Helvetica;
}

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color:khaki;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
}

.bg_style {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color:white;
}

.mediumspringgreen_bg {
  background-color: mediumspringgreen;
}
.lightcoral_bg {
  background-color: lightcoral;
}
.skyblue_bg {
  background-color: skyblue;
}

span.price{
  font-family: Helvetica;
  font-weight: bold;
  color:blue;
}
